html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*background: RGB(170,204,255);*/
  background: linear-gradient(#5E9FFF, #AACCFF);
  filter: drop-shadow(0 0 10px white);
  text-align: right;
}
#cover
{
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.audio
{
  width: 100vh;
  position: absolute;
}
.house
{
  display: block;
  box-sizing: border-box;
  right: -5%;
  position: absolute;
  z-index: 5;
  width: 1920px;
  bottom:  10%;
  
  user-select: none;
}
@media screen and (max-width: 1100px)
{
  .house
  {
  display: block;
  box-sizing: border-box;
  margin-right: 0;
  
  position: absolute;
  z-index: 5;
  height: 50%;
  width: auto;
  bottom:  10%;
  user-select: none;
  }
}
@media screen and (min-width: 1800px)
{
  .house
  {
  display: inline-block;
  box-sizing: border-box;

  position: absolute;
  z-index: 5;
  width: 100%;
  right: 0%;
  bottom:  10%;
  user-select: none;
  }
}
.snowman
{
  display: block;
  box-sizing: border-box;
  right: 25vw;
  position: absolute;
  z-index: 8;
  height: 20vh;
  right: 0%;
  margin-bottom:  10vh;
  margin-top: 70vh;
  user-select: none;
}
.MC
{
  display: block;
  box-sizing: border-box;
  left: 25px;
  position: absolute;
  z-index: 15;
  height: 20vh;
  /*(margin-bottom:  90vh;*/
  margin-top: 25px;
  user-select: none;
}
.ground
{
  position: fixed;
  margin-top: 80vh;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(rgb(228, 228, 238), white);
  box-shadow: 0 0 10px white;
}
.snowflake {
  z-index: 10;
  width: max(0.5vw, 0.5vh);
  height: max(0.5vw, 0.5vh);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  box-shadow: 0 0 10px white;
}

.snowflake:nth-child(6n) {
  filter: blur(1px);
}
.snowflake:nth-child(2n) {
  z-index: 0;
}

@keyframes snowfall {
  0% {
    transform: translate(var(--left-ini), 0);
  }
  100% {
    transform: translate(var(--left-end), 110vh);
  }
}

.snowflake:nth-child(1) {
  --left-ini: -6vw;
  --left-end: 7vw;
  left: 91vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(2) {
  --left-ini: 4vw;
  --left-end: -7vw;
  left: 71vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(3) {
  --left-ini: -7vw;
  --left-end: -8vw;
  left: 37vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(4) {
  --left-ini: 10vw;
  --left-end: 3vw;
  left: 6vw;
  animation: snowfall 25s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(5) {
  --left-ini: -7vw;
  --left-end: 8vw;
  left: 51vw;
  animation: snowfall 27s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(6) {
  --left-ini: 8vw;
  --left-end: 2vw;
  left: 50vw;
  animation: snowfall 25s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(7) {
  --left-ini: -3vw;
  --left-end: -9vw;
  left: 66vw;
  animation: snowfall 27s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(8) {
  --left-ini: 4vw;
  --left-end: -2vw;
  left: 93vw;
  animation: snowfall 29s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(9) {
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 58vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(10) {
  --left-ini: -7vw;
  --left-end: 0vw;
  left: 97vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(11) {
  --left-ini: 10vw;
  --left-end: 3vw;
  left: 65vw;
  animation: snowfall 29s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(12) {
  --left-ini: 1vw;
  --left-end: 3vw;
  left: 19vw;
  animation: snowfall 25s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(13) {
  --left-ini: 5vw;
  --left-end: 2vw;
  left: 47vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(14) {
  --left-ini: 4vw;
  --left-end: -6vw;
  left: 81vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(15) {
  --left-ini: 10vw;
  --left-end: -4vw;
  left: 58vw;
  animation: snowfall 27s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(16) {
  --left-ini: 0vw;
  --left-end: 3vw;
  left: 96vw;
  animation: snowfall 32s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(17) {
  --left-ini: 3vw;
  --left-end: -8vw;
  left: 62vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(18) {
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 13vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(19) {
  --left-ini: 0vw;
  --left-end: 7vw;
  left: 87vw;
  animation: snowfall 25s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(20) {
  --left-ini: 1vw;
  --left-end: 2vw;
  left: 27vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(21) {
  --left-ini: -6vw;
  --left-end: -2vw;
  left: 46vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -11s;
}

.snowflake:nth-child(22) {
  --left-ini: -6vw;
  --left-end: -9vw;
  left: 41vw;
  animation: snowfall 23s linear infinite;
  animation-delay: -11s;
}

.snowflake:nth-child(23) {
  --left-ini: 7vw;
  --left-end: -6vw;
  left: 28vw;
  animation: snowfall 29s linear infinite;
  animation-delay: -12s;
}

.snowflake:nth-child(24) {
  --left-ini: -6vw;
  --left-end: -2vw;
  left: 10vw;
  animation: snowfall 32s linear infinite;
  animation-delay: -12s;
}

.snowflake:nth-child(25) {
  --left-ini: -5vw;
  --left-end: -1vw;
  left: 4vw;
  animation: snowfall 23s linear infinite;
  animation-delay: -13s;
}

.snowflake:nth-child(26) {
  --left-ini: -2vw;
  --left-end: 9vw;
  left: 16vw;
  animation: snowfall 29s linear infinite;
  animation-delay: -13s;
}

.snowflake:nth-child(27) {
  --left-ini: 8vw;
  --left-end: 0vw;
  left: 10vw;
  animation: snowfall 32s linear infinite;
  animation-delay: -14s;
}

.snowflake:nth-child(28) {
  --left-ini: -9vw;
  --left-end: -8vw;
  left: 68vw;
  animation: snowfall 27s linear infinite;
  animation-delay: -14s;
}

.snowflake:nth-child(29) {
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 39vw;
  animation: snowfall 27s linear infinite;
  animation-delay: -15s;
}

.snowflake:nth-child(30) {
  --left-ini: 9vw;
  --left-end: -9vw;
  left: 59vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -15s;
}

.snowflake:nth-child(31) {
  --left-ini: 8vw;
  --left-end: -1vw;
  left: 37vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -16s;
}

.snowflake:nth-child(32) {
  --left-ini: 7vw;
  --left-end: -5vw;
  left: 80vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -16s;
}

.snowflake:nth-child(33) {
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 88vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(34) {
  --left-ini: 7vw;
  --left-end: 4vw;
  left: 20vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(35) {
  --left-ini: -9vw;
  --left-end: 10vw;
  left: 18vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -18s;
}

.snowflake:nth-child(36) {
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 30vw;
  animation: snowfall 32s linear infinite;
  animation-delay: -18s;
}

.snowflake:nth-child(37) {
  --left-ini: 1vw;
  --left-end: -3vw;
  left: 91vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -19s;
}

.snowflake:nth-child(38) {
  --left-ini: 8vw;
  --left-end: 10vw;
  left: 16vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -19s;
}

.snowflake:nth-child(39) {
  --left-ini: 2vw;
  --left-end: 7vw;
  left: 12vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -20s;
}

.snowflake:nth-child(40) {
  --left-ini: 1vw;
  --left-end: 5vw;
  left: 20vw;
  animation: snowfall 23s linear infinite;
  animation-delay: -20s;
}

.snowflake:nth-child(41) {
  --left-ini: 1vw;
  --left-end: -4vw;
  left: 6vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -21s;
}

.snowflake:nth-child(42) {
  --left-ini: -9vw;
  --left-end: 4vw;
  left: 4vw;
  animation: snowfall 29s linear infinite;
  animation-delay: -21s;
}

.snowflake:nth-child(43) {
  --left-ini: -9vw;
  --left-end: 10vw;
  left: 32vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(44) {
  --left-ini: 2vw;
  --left-end: -3vw;
  left: 40vw;
  animation: snowfall 23s linear infinite;
  animation-delay: -22s;
}

.snowflake:nth-child(45) {
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 7vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -23s;
}

.snowflake:nth-child(46) {
  --left-ini: 9vw;
  --left-end: -3vw;
  left: 26vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -23s;
}

.snowflake:nth-child(47) {
  --left-ini: -7vw;
  --left-end: 7vw;
  left: 6vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -24s;
}

.snowflake:nth-child(48) {
  --left-ini: 2vw;
  --left-end: -7vw;
  left: 59vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -24s;
}

.snowflake:nth-child(49) {
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 60vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -25s;
}

.snowflake:nth-child(50) {
  --left-ini: -9vw;
  --left-end: -8vw;
  left: 5vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -25s;
}
