html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*background: RGB(170,204,255);*/
  background: linear-gradient(#5E9FFF, #AACCFF);
  filter: drop-shadow(0 0 10px white);
  text-align: right;
}
#cover
{
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.audio
{
  width: 100vh;
  position: absolute;
}
.house
{
  display: block;
  box-sizing: border-box;
  right: -10%;
  position: absolute;
  z-index: 5;
  width: 1920px;
  bottom:  10%;
  
  user-select: none;
}
@media screen and (max-width: 1000px)
{
  .house
  {
  display: block;
  box-sizing: border-box;
  right: -10%;
  margin-left: -50%;
  position: absolute;
  z-index: 5;
  width: 1080px
  bottom:  10%;
  user-select: none;
  }
}
.snowman
{
  display: block;
  box-sizing: border-box;
  right: 25vw;
  position: absolute;
  z-index: 8;
  height: 20vh;
  margin-bottom:  10vh;
  margin-top: 70vh;
  user-select: none;
}
.MC
{
  display: block;
  box-sizing: border-box;
  left: 25px;
  position: absolute;
  z-index: 15;
  height: 20vh;
  /*(margin-bottom:  90vh;*/
  margin-top: 25px;
  user-select: none;
}
.ground
{
  position: fixed;
  margin-top: 80vh;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(rgb(228, 228, 238), white);
  box-shadow: 0 0 10px white;
}
.snowflake {
  z-index: 10;
  --size: 1vw;
  width: 0.5vw;
  height: 0.5vw;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  box-shadow: 0 0 10px white;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.snowflake:nth-child(1) {
  --size: 0.2vw;
  --left-ini: -6vw;
  --left-end: 7vw;
  left: 91vw;
  animation: snowfall 16s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(2) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: -7vw;
  left: 71vw;
  animation: snowfall 20s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(3) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: -8vw;
  left: 37vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(4) {
  --size: 0.8vw;
  --left-ini: 10vw;
  --left-end: 3vw;
  left: 6vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: 8vw;
  left: 51vw;
  animation: snowfall 17s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(6) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: 2vw;
  left: 50vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(7) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: -9vw;
  left: 66vw;
  animation: snowfall 17s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(8) {
  --size: 0.6vw;
  --left-ini: 4vw;
  --left-end: -2vw;
  left: 93vw;
  animation: snowfall 19s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(9) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 58vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(10) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: 0vw;
  left: 97vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(11) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: 3vw;
  left: 65vw;
  animation: snowfall 19s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(12) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: 3vw;
  left: 19vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(13) {
  --size: 0.4vw;
  --left-ini: 5vw;
  --left-end: 2vw;
  left: 47vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(14) {
  --size: 0.6vw;
  --left-ini: 4vw;
  --left-end: -6vw;
  left: 81vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(15) {
  --size: 1vw;
  --left-ini: 10vw;
  --left-end: -4vw;
  left: 58vw;
  animation: snowfall 17s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(16) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: 3vw;
  left: 96vw;
  animation: snowfall 22s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(17) {
  --size: 0.6vw;
  --left-ini: 3vw;
  --left-end: -8vw;
  left: 62vw;
  animation: snowfall 20s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(18) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 13vw;
  animation: snowfall 16s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(19) {
  --size: 0.6vw;
  --left-ini: 0vw;
  --left-end: 7vw;
  left: 87vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(20) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: 2vw;
  left: 27vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(21) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: -2vw;
  left: 46vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(22) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: -9vw;
  left: 41vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(23) {
  --size: 1vw;
  --left-ini: 7vw;
  --left-end: -6vw;
  left: 28vw;
  animation: snowfall 19s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(24) {
  --size: 1vw;
  --left-ini: -6vw;
  --left-end: -2vw;
  left: 10vw;
  animation: snowfall 22s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(25) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -1vw;
  left: 4vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(26) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: 9vw;
  left: 16vw;
  animation: snowfall 19s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(27) {
  --size: 1vw;
  --left-ini: 8vw;
  --left-end: 0vw;
  left: 10vw;
  animation: snowfall 22s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: -8vw;
  left: 68vw;
  animation: snowfall 17s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(29) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 39vw;
  animation: snowfall 17s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(30) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: -9vw;
  left: 59vw;
  animation: snowfall 16s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(31) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: -1vw;
  left: 37vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(32) {
  --size: 0.2vw;
  --left-ini: 7vw;
  --left-end: -5vw;
  left: 80vw;
  animation: snowfall 18s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(33) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 88vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(34) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: 4vw;
  left: 20vw;
  animation: snowfall 20s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(35) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: 10vw;
  left: 18vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(36) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 30vw;
  animation: snowfall 22s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(37) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: -3vw;
  left: 91vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(38) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: 10vw;
  left: 16vw;
  animation: snowfall 20s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(39) {
  --size: 0.2vw;
  --left-ini: 2vw;
  --left-end: 7vw;
  left: 12vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(40) {
  --size: 0.4vw;
  --left-ini: 1vw;
  --left-end: 5vw;
  left: 20vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(41) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: -4vw;
  left: 6vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(42) {
  --size: 0.4vw;
  --left-ini: -9vw;
  --left-end: 4vw;
  left: 4vw;
  animation: snowfall 19s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: 10vw;
  left: 32vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(44) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: -3vw;
  left: 40vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(45) {
  --size: 0.4vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 7vw;
  animation: snowfall 16s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(46) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -3vw;
  left: 26vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(47) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: 7vw;
  left: 6vw;
  animation: snowfall 20s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(48) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: -7vw;
  left: 59vw;
  animation: snowfall 16s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(49) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 60vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(50) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -8vw;
  left: 5vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -6s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}
.snowflake:nth-child(2n) {
  z-index: 0;
}

